@page "/student/courses"
@using Client.Pages.Components
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Shared.DTOs
@using Shared.Entities
@inject HttpClient Http
@attribute [Authorize(Roles = "Student")]

<MudText Typo="Typo.h5" Class="mt-8 mb-3 font-weight-bold d-flex align-center">
    <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="mr-2" Color="Color.Success"/>
    Órarend
</MudText>

@if (courses == null)
{
    <LoadingCircle/>
}
else
{
    <MudTable Items="LessonsNumbers" Hover="true" Bordered="true" Dense="true" Elevation="1"
              Class="mb-12 timetable-table">
        <HeaderContent>
            <MudTh>Óra</MudTh>
            <MudTh>Hétfő</MudTh>
            <MudTh>Kedd</MudTh>
            <MudTh>Szerda</MudTh>
            <MudTh>Csütörtök</MudTh>
            <MudTh>Péntek</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context. óra</MudTd>
            @for (int i = 1; i < 6; i++)
            {
                int dayidx = i;
                <MudTd>
                    @{
                        var day = (DayOfWeek)dayidx;
                        CourseDto course = GetCourseForSlot(day, context);
                    }
                    @if (course != null)
                    {
                        var sch = course.CourseSchedules.FirstOrDefault(s => s.DayOfWeek == day && s.LessonNumber == context);
                        <Card Course="course" CourseSchedule="sch"></Card>
                    }
                    else
                    {
                        <span class="empty-slot">-</span>
                    }
                </MudTd>
            }
        </RowTemplate>
    </MudTable>
}

@code {

    private List<CourseDto>? courses;
    private List<int> LessonsNumbers = Enumerable.Range(0, 10).ToList();

    private CourseDto? GetCourseForSlot(DayOfWeek dayOfWeek, int lesson)
    {
        return courses.FirstOrDefault(c => c.CourseSchedules.Any(s =>
            s.DayOfWeek == dayOfWeek && s.LessonNumber == lesson));
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<CourseDto>>("api/courses");
        if (response != null) courses = response;
    }

}

