.timetable-table th[b-9enlvdac17]{
    font-weight: bold !important;
    text-align: center !important;
}

.timetable-table th:first-child[b-9enlvdac17] {
    width: 80px !important;
    background-color: gray !important;
    text-align: left !important; 
}
.timetable-table td:first-child[b-9enlvdac17]{
    font-weight: bold; background-color: grey;
}
.timetable-table td[b-9enlvdac17]{
    text-align: center; width: 18%; height: 70px; vertical-align: middle;
}
