@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@page "/teacher"
@attribute [Authorize(Roles = "Teacher")]
<AuthorizeView>


	<h3>Teacher Home</h3>

	<p>Hello @context.User.Identity.Name</p>
	

</AuthorizeView>

@code {
	
}
